
html{
    
    background-color: rgb(215, 199, 199); 
    color: white;
    border-color: blue;
    border-style: dashed;
}

body{

    margin:0;
}

div{

    /* put the borders in the inside of container */
    box-sizing: border-box;
}

img
{height: 100%;
    width: auto;
}


#navbar{

    height: 50px;

}
#img{

    height: 30%;

}

#logo{
    width: 30%;
    height: 100%;
    float:right;
    text-align: right;
}

#flex{

    display: flex;
    height: calc(100vh - 50px);
}

#sidebar{

    width:30%;
    border-color: bisque;
}

#main{
    width:70%;

}

.container{

    border-style: dotted;
    border-color: white;
    border-width: 1px;

}