
html{
    
    background-color: black; 
    color: white;
}

#navbar{

    height: 50px;

}

#flex{

    display: flex;
}

.container{

    border-style: dotted;
    border-color: white;
    border-width: 1px;

}